
.innerDiv{
    line-height: 57.6px;
    font-size: 48px;
    font-weight: 500;
}


.colum1{
    width: 30%
}

.colum2{
    width: 30%;
   
}

.innerDiv1{
    margin: auto;
}

.headingdiv{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.paradiv{
    font-size: 16px;
    font-weight: 500;
}