/* *{
    background-color: white;
} */
.headingText{
    font-size: 48px;
}

.columnWise{
padding-top: 7%;
}

.columnWise2{
    padding-top: 8%;
}

.butn{
    font-size: 20px;
    
}

.butndiv{
    padding-top: 3%;
}

